<div class="form-group mb-2">
    <label for="title">Title</label>
    <input required value="<%= articles.title %>" type="text" name="Title" id="title" class="form-control">
</div>
<div class="form-group mb-2">
    <label for="Description">Description</label>
    <textarea name="description" id="description" class="form-control"></textarea>
</div>
<div class="form-group mb-2">
    <label for="markdown">Markdown</label>
    <textarea name="markdown" id="markdown" class="form-control"></textarea>
</div>
<a href="/" class="btn btn-danger ">Cancel</a>
<button type="submit" class="btn btn-success">Save</button>